<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="custom-back-button" (click)="goBack()">
        <ion-icon name="chevron-back-outline" aria-label="Volver"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Buscando Uber por tu zona...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <div class="overlay-top">
    <p class="large-text">Buscando Uber por tu zona...</p>
  </div>
  <div class="vehicle-selection">
    <button ion-button (click)="selectVehicle('auto')">Auto</button>
    <button ion-button (click)="selectVehicle('moto')">Moto</button>
    <button ion-button (click)="selectVehicle('grúa')">Grúa</button>
  </div>
  <div class="overlay-bottom">
    <div class="ride-info">
      <img src="assets/img/driver-photo.jpg" alt="Driver Photo" class="driver-photo">
      <div class="ride-details">
        <h2>Conductor: Juan Pérez</h2>
        <p>Auto: Toyota Prius</p>
        <p>Placa: ABC-123</p>
        <p>Distancia: {{ distance }}</p> <!-- Mostrar la distancia -->
      </div>
    </div>
  </div>
</ion-content>