<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" aria-label="Volver"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la página del mapa aquí -->
  <div id="map" style="height: 100%; width: 100%; position: relative; z-index: 0;"></div>
  <ion-button expand="full" (click)="requestRide()" style="z-index: 10;">Solicitar Viaje</ion-button>
</ion-content>
