<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la página del mapa aquí -->
  <div id="map" style="height: 100%; width: 100%;"></div>

  <ion-button expand="full" (click)="requestRide()">Solicitar Viaje</ion-button>
</ion-content>

<!-- Barra de pestañas (tab bar) en la parte inferior -->
<ion-tabs color="dark">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goToAccount('home')">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/mapa']">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Actividad</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToAccount('account')">
      <ion-icon name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
