#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  ion-button {
    --background: #007bff; /* Color de fondo del botón */
    --color: white; /* Color del texto del botón */
 }

ion-content {
  position: relative;
  z-index: 1;
}
  