<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" aria-label="Volver"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Listado de Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let v of viajes">
      <h2>Origen: {{v.ubicacion_destino}}</h2>
      <h2>Destino: {{v.ubicacion_destino}}</h2>
      <h2>Costo: {{v.costo}}</h2>
      <h2>Estado: {{v.estado}}</h2>
    </ion-card>
  </ion-list>
</ion-content>
