<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" aria-label="Volver"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/img/gruapp.png" width="50%" height="50%" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="settings-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="settings-container">
    <h2>Administra tu Configuración</h2>
    <ion-item>
      <ion-label>Habilitar Notificaciones</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificationsEnabled"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle slot="end" [(ngModel)]="darkModeEnabled" (ionChange)="toggleDarkMode()"></ion-toggle>
    </ion-item>

    <ion-button expand="full" color="secondary">Guardar Cambios</ion-button>
  </div>
</ion-content>

