<!-- agregar-viaje.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" aria-label="Volver"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/img/gruapp.png" alt="Logo" width="50%" height="50%" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registrarViaje()">
    <!-- Selector de vehículo -->
    <ion-item>
      <ion-label position="floating">Seleccionar Vehículo</ion-label>
      <ion-select [(ngModel)]="vehiculoSeleccionado" name="vehiculo" required>
        <ion-select-option *ngFor="let v of vehiculo" [value]="v.id_vehiculo">
          {{v.marca}} {{v.modelo}} - {{v.patente}}
          <ng-container *ngIf="v.estado_viaje === 'activo'">(En viaje)</ng-container>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo de origen -->
    <ion-item>
      <ion-label position="floating">Origen</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="p_ubicacion_origen" 
        name="p_ubicacion_origen" 
        required>
      </ion-input>
    </ion-item>

    <!-- Campo de destino -->
    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="p_ubicacion_destino" 
        name="p_ubicacion_destino" 
        required>
      </ion-input>
    </ion-item>
    
    <!-- Campo de costo -->
    <ion-item>
      <ion-label position="floating">Costo</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="p_costo" 
        name="p_costo" 
        required>
      </ion-input>
    </ion-item>
    
    <!-- Botón de registro -->
    <ion-button expand="full" type="submit">
      Registrar Viaje
    </ion-button>
  </form>
</ion-content>