// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #ff5722; /* Cambia esto por el color que prefieras */
    --ion-color-secondary: #4caf50;
    --ion-color-tertiary: #673ab7;
    --ion-color-light: #f4f4f4;
    --ion-color-dark: #222428;
    --ion-color-background: #ffffff;
  }
  