<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" aria-label="Volver"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Listado de Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="vehiculos.length > 0; else noVehiculos">
    <ion-card *ngFor="let vehiculo of vehiculos">
      <ion-card-header>
        <ion-card-title>{{ vehiculo.patente }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Modelo:</strong> {{ vehiculo.modelo }}</p>
        <p><strong>Año:</strong> {{ vehiculo.anio }}</p>
        <p><strong>Color:</strong> {{ vehiculo.color }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ng-template #noVehiculos>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay vehículos disponibles.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>No se han encontrado vehículos asociados a este usuario.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
