<div class="ion-page" id="main-content">
  <ion-header color="primary">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pagina Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido del home -->
  <ion-content class="background-image">
    <!-- Imagen que ocupa toda la pantalla -->
    <div class="content">
      <img src="assets/img/gruapp.png" alt="Logo" class="logo">
      <h2>Bienvenido a GruAPP</h2>
      <p>Organiza tus viajes de forma fácil y rápida.</p>

      <ion-button expand="full" color="secondary" (click)="navigateToService()">Solicitar Viaje</ion-button>
      <div class="info-cards">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Viajes Seguros</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Disfruta de un viaje cómodo y seguro.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mejores Precios</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Obtén tarifas competitivas para tus viajes.
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>

  <!-- Barra de pestañas (tab bar) en la parte inferior -->
  <ion-tabs color="dark">
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/mapa']">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="activity">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>Actividad</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToAccount('account')">
        <ion-icon name="person"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
