/* General Styles */
body {
  font-family: 'Roboto', sans-serif; /* Usar fuente Roboto */
  background-color: #f0f0f0; /* Color de fondo para el cuerpo */
}

.background-image {
  background-image: url('/assets/img/gruapp.jpg'); /* Imagen de fondo */
  background-size: cover; /* Asegúrate de que cubra toda la pantalla */
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Organiza los elementos en columnas */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  text-align: center; /* Alinea el texto al centro */
}

.content {
  padding: 20px; /* Añadir padding para espacio interno */
}

.logo {
  max-width: 80%;
  max-height: 60%;
  object-fit: contain;
  opacity: 0.9; /* Opcional: da un efecto de suavizado */
  margin-bottom: 20px; /* Espacio debajo del logo */
}

h2 {
  font-size: 24px; /* Tamaño del título */
  color: #333; /* Color del título */
  margin: 10px 0; /* Margen para separar del logo */
}

p {
  font-size: 18px; /* Tamaño del párrafo */
  color: #666; /* Color del párrafo */
  margin: 10px 0; /* Margen para separar */
}

.info-cards {
  display: flex;
  justify-content: center; /* Centra las tarjetas */
  gap: 20px; /* Espacio entre tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples filas */
}

ion-card {
  width: 200px; /* Ajusta el ancho de las tarjetas */
  margin: 10px;
}

ion-card-title {
  font-size: 18px;
  color: #333;
}

ion-card-content {
  font-size: 16px;
  color: #666;
}

/* Menu Styles */
ion-menu {
  --background: #212121; /* Color de fondo del menú */
}

ion-item {
  --color: #fff; /* Color del texto */
}

ion-item:hover {
  --background: #424242; /* Color al pasar el mouse */
}
