<div class="ion-page" id="main-content">
  <ion-header color="primary">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()">Abrir Menú</ion-button>
      </ion-buttons>
      <ion-title>Pagina Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido del home -->
  <ion-content fullscreen>
    <!-- Imagen que ocupa toda la pantalla -->
    <div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
      <img src="assets/img/gruapp.png" 
           alt="Uber Logo" 
           style="max-width: 80%; max-height: 60%; object-fit: contain;">
    </div>
  </ion-content>

  <!-- Barra de pestañas (tab bar) en la parte inferior -->
  <ion-tabs color="dark">
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/mapa']">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="activity">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>Actividad</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToAccount('account')">
        <ion-icon name="person"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
